*{
    padding: 0;
    margin: 0;
    font-family: arial;
}

a{
    text-decoration: none;
    color: white;
}

aside a{
    color: rgb(101, 99, 99);
    text-align: left;
    font-size: 14.667px;
}

footer a{
    color: black;
    font-size: 14.667px;
}

body{
    background-color: #f9f9f9;
}

.conteiner{
    position: relative;
    margin: 0 auto;
    width: 1065px;
    min-height: 950px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo{
    background-image: url( "../img/logo.png" );
    background-repeat: no-repeat;
    position: absolute;
    margin: 50px 47.5px;
    height: 40px;
    width: 145px;

}

.menu-panel{
    position: absolute;
    background-color: #505050;
    margin: 130px 47.5px;
    height: 40px;
    width: 970px;

}

.menu-panel li {

    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 35px 0 0;
    padding: 12px 25px 11px;
    font-size: 14.667px;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
    border-left: 0.5px solid #505050;
    border-right: 0.5px solid #505050;

}

.menu-panel li:hover{
    background-color: #383838;
    border-left: 0.5px solid #838383;
    border-right: 0.5px solid #838383;
}

section{
    position: relative;
}

aside table{
    width: 240px;
    position: absolute;
    margin: 200px 47.5px;
    border: 1px solid #c8c8c8;
    border-collapse: collapse;
}

aside td{

    border: 1px solid #c8c8c8;
    height: 10px;
    padding: 15px 25px;
}

aside td:hover{
    padding: 15px 35px;
    font-weight: 600;
    background-color: #f9f9f9;
}

.image{
    background-image: url( "../img/bicycle.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: 1px solid #c8c8c8;
    width: 675px;
    height: 395px;
    margin: 200px 337.5px;
}

.text{
    position: absolute;
    height: 145px;
    width: 625px;
    margin: 630px 47.5px 50px 337.5px;
    padding: 0 25px;
    font-size: 13.333px;
    font-family: "Myriad Pro";
    color: rgb(44, 44, 44);
    line-height: 1.6;
    -webkit-hyphens: manual;
}

footer{
    position: absolute;
    background-color: #e1e1e1;
    margin: 830px 47.5px 55px;
    height: 40px;
    width: 970px;
}

footer li{
    float:left;
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0 35px 0 0;
    padding: 11px 25px 11px;
}

footer li:hover{
    text-decoration: underline;
}

.copyright{
    float: right;
    font-size: 13.333px;
    padding: 11px 25px;
}
